@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  position: relative;
}
:root {
  --color-black: #04212f;
  --color-white: #fff;
  --color-grey: #d1d1d1;
  --color-grey1: #f5f5f5;
  --color-grey2: #eae8e8;
  --color-green: #419d98;
  --color-yellow: #de9706;
  --color-gold: #ffb21e;
  --color-red: #f08758;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
.heading {
  width: 100%;
  text-align: center;
}
.h-rule_green {
  width: 144px;
  height: 6px;
  background-color: var(--color-green);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 5px;
}

.h-rule_yellow {
  width: 100px;
  height: 4px;
  background-color: var(--color-red);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 35px;
}
.margin-top {
  margin-top: 40px;
}
label.xng-breadcrumb-trail {
  color: #000 !important;
  font-weight: 500;
}
