.featured_container {
  margin-top: 100px;
  h1 {
    font-size: 24px;
    line-height: 1.2;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: auto;
}
.view-all {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  button {
    padding: 7px 18px;
    border: 2px solid var(--color-red);
    background-color: transparent;
    color: var(--color-red);
    transition: all 0.4s ease-in;
    &:hover {
      background-color: var(--color-red);
      color: white;
    }
  }
}
