<section class="hero-bg">
  <div
    class="d-flex justify-content-between hero-container position-relative align-items-center"
  >
    <div class="d-flex align-items-center hero-left">
      <div>
        <img src="../../../assets//images/left.png" alt="" />
      </div>
      <div class="hero-texts d-flex flex-column">
        <h1>Sale 20% off</h1>
        <h3>On all new arrivals</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac alique odio mattis. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et
          velit interdum, ac alique odio mattis. Lorem ipsum dolor sit amet,
          dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero.
        </p>
        <button routerLink="/shop">Shop now</button>
      </div>
    </div>

    <div class="">
      <div class="hero-img position-absolute bottom-0">
        <img src="../../../assets/images/hero-img.png" alt="" />
      </div>
      <img src="../../../assets//images/right.png" alt="" />
    </div>
  </div>
</section>
