.hero-bg {
  background: url("../../../assets/images/hero2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}
.hero-container {
  width: 75%;
  margin: 10px auto;
  height: 100%;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    justify-content: start;
  }
}
.hero-texts {
  gap: 20px;
  z-index: 10;

  h3 {
    color: white;
    font-size: 28px;
    @media screen and (min-width: 1024px) {
      font-size: 40px;
    }
  }
  h1 {
    font-size: 54px;
    font-weight: 800;
    color: white;
    @media screen and (min-width: 1024px) {
      font-size: 73px;
    }
  }
  p {
    width: 95%;
    color: white;
    opacity: 0.8;
    font-weight: 600;
    font-size: 16px;
    @media screen and (min-width: 1024px) {
      font-size: 20px;
    }
  }
  button {
    width: 180px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    transition: all 0.4s ease-in-out;
    &:hover {
      transform: scale(1.06);
    }
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
