<section class="hero-bg">
  <div
    class="d-flex hero-container position-relative align-items-center"
  >
    <div class="d-flex align-items-center">
      <div class="hero-texts d-flex flex-column">
        <h3>Suggestions for your</h3>
        <h1>Sneakers Collection</h1>
        <p>
          Get amazing sneakers from various brands, pick your favourite color
          and size
        </p>
        <button routerLink="/shop">Shop now</button>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>
