<div class="basket">
  <div *ngIf="(basketService.basketSource$ | async) === null">
    <div class="no-item">
      <div class="desc">
        <p>
          It looks like you have no items in your basket, click on the button
          below to start shopping 😊.
        </p>
        <button routerLink="/shop" class="btn-black">SHOP NOW</button>
      </div>
      <div class="no-item_img">
        <img src="../../assets/images/no-item.jpg" alt="" />
      </div>
    </div>
  </div>
  <ng-container *ngIf="basketService.basketSource$ | async as basket">
    <div class="basket">
      <div class="row">
        <app-basket-summary
          (addItem)="incrementQuantity($event)"
          (removeItem)="removeItem($event)"
        >
        </app-basket-summary>
      </div>
      <div class="summary-cont">
        <div class="summary">
          <app-order-totals></app-order-totals>
          <div class="d-grid" style="margin-bottom: 140px">
            <a routerLink="/checkout" class="btn py-2"> Proceed to ckeckout </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
