.about-item {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-top: 60px;
  margin-bottom: 150px;
  @media screen and (min-width: 1020px) {
    flex-direction: row;
  }
  hr {
    border-top: 2px dotted black;
    height: 1px;
    width: 100%;
  }
  .about-image {
    width: 100%;
    display: flex;
    height: 350px;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    @media screen and (min-width: 1020px) {
      width: 50%;
    }
  }
  .about-desc {
    width: 95%;
    h2 {
      font-weight: 400;
      font-size: 28px;
    }
  }
  .price-rate {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price {
      color: var(--color-gold);
      font-weight: 500;
      font-size: 20px;
    }
  }
  .add-product {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    .quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      justify-content: space-between;
      height: 50px;
      width: 160px;
      .plus {
        color: white;
        width: 30px;
        display: flex;
        height: 80%;
        border-radius: 100%;
        justify-content: center;
        padding-top: 6px;
        align-items: center;
        font-size: 30px;
        background-color: var(--color-gold);
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          transform: scale(1.06);
        }
      }
      .minus {
        color: white;
        width: 30px;
        display: flex;
        height: 80%;
        border-radius: 100%;
        justify-content: center;
        padding-top: 6px;
        align-items: center;
        font-size: 30px;
        background-color: var(--color-gold);
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          transform: scale(1.06);
        }
      }
      span {
        margin-bottom: 5px;
      }
    }
    button {
      padding: 12px 50px;
      color: white;
      background-color: var(--color-red);
      transition: all 0.4s ease-in-out;
      &:hover {
        transform: scale(1.06);
      }
    }
  }
  .category {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    h4 {
      font-size: 18px;
    }
    div {
      display: flex;
      margin-top: 10px;
      align-items: center;
    }
  }
}
