<div class="mobile-container">
  <div class="mobile-items">
    <div class="mobile-content">
      <h1>Download The Mobile App</h1>
      <p>
        lorem ipsum ahgndi boor as for the way you some to the way i know why to
        believe. the way we design lorem ipsum ahgndi boor as for the way you
        some to the way i know why to believe. the way we design
      </p>
      <button class="view">Download App</button>
    </div>
    <div class="mobile-img">
      <div class="img-content">
        <button class="view">Download App</button>
      </div>
      <img class="phone1" src="../../../assets/images/phone.png" alt="phone" />
      <img class="phone2" src="../../../assets/images/phone2.png" alt="phone2">
    </div>
  </div>
</div>
