<div class="mobile-container">
  <div class="mobile-items">
    <div class="mobile-content d-flex flex-column">
      <h1>Download The Mobile App</h1>
      <p>
        lorem ipsum ahgndi boor as for the way you some to the way i know why to
        believe. the way we design lorem ipsum ahgndi boor as for the way you
        some to the way i know why to believe. the way we design
      </p>
      <button class="view">Download app</button>
    </div>
    <div class="mobile-img">
      <img src="../../../assets/images/phone.png" alt="phone" />
    </div>
  </div>
</div>
