<section class="blog">
  <div class="heading">
    <h1>OUR BLOG</h1>
    <div class="h-rule_yellow small"></div>
  </div>
  <div class="images">
    <div *ngFor="let blog of blog">
      <img src="{{ blog.blogImg }}" alt="{{ blog.title }}" />
      <h2>{{ blog.title.toUpperCase() }}</h2>
      <p>
        {{ blog.description }}
      </p>
    </div>
  </div>
  <div class="button">
    <button routerLink="./blog">VIEW ALL</button>
  </div>
  <div class="blog-footer">
    <div class="items">
      <div class="news">
        <div>
          <hr />
          <h3>NEWSLETTER</h3>
          <p>
            Subscribe to the our mailing list to receive updates on new
            arrivals, special offers and other discount information.
          </p>
        </div>
      </div>
      <div class="follow">
        <div>
          <hr />
          <h3>FOLLOW US</h3>
          <p>
            Subscribe to the our mailing list to receive updates on new
            arrivals, special offers and other discount information.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
