<section class="blog">
  <div class="heading">
    <h1>OUR BLOG</h1>
    <div class="h-rule_yellow small"></div>
  </div>
  <div class="images">
    <div>
      <img src="../../../assets/images/lady2.jpg" alt="" />
      <h2>FIRST POST</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
      </p>
    </div>
    <div>
      <img src="../../../assets/images/man.jpg" alt="" />
      <h2>SECOND POST</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
      </p>
    </div>
  </div>
  <div class="button">
    <button>VIEW ALL</button>
  </div>
  <div class="blog-footer">
    <div class="items">
      <div class="news">
        <div>
          <hr />
          <h3>NEWSLETTER</h3>
          <p>
            Subscribe to the our mailing list to receive updates on new
            arrivals, special offers and other discount information.
          </p>
        </div>
      </div>

      <div class="follow">
        <div>
          <hr />
          <h3>FOLLOW US</h3>
          <p>
            Subscribe to the our mailing list to receive updates on new
            arrivals, special offers and other discount information.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
