<div class="testimonial_container">
  <div class="heading">
    <h1>Testimonial</h1>
    <div class="h-rule_green"></div>
  </div>
  <div class="testimonial-items">
    <img src="../../../assets//images/left.png" alt="left" />
    <div class="testimonial-img">
      <img src="../../../assets/images/person1.png" alt="" />
      <h2>Safe payment</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
        libero et <br />
        velit interdum, ac aliquet odio mattis.
      </p>
    </div>
    <img src="../../../assets//images/right.png" alt="left" />
  </div>
</div>
