.nav-container {
  background-color: white;
  a {
    text-decoration: none;
    color: #333333;
    &.active {
      color: #000;
      font-weight: 500;
    }
  }
}

.navbar {
  height: 70px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  nav {
    margin-left: 200px;
    font-size: 16px;
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
  .menu {
    display: flex;
    font-size: 24px;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  .second {
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}

.logo {
  color: var(--color-black);
  font-size: 22px;
  margin-top: 10px;
  font-weight: 500;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
.icon {
  width: 60%;
}
.cart {
  position: relative;
  span {
    position: absolute;
    top: 0;
    right: -4px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--color-red);
    color: white;
  }
}
.profile {
  background-color: var(--color-black);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  color: white;
}
.dropdown-menu {
  margin-top: 8px;
}
