.mycard {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 230px;
  height: auto;
  margin-right: 15px;
  margin-bottom: 20px;
  .image-container {
    background-color: #efefef;
    cursor: pointer;
    position: relative;
    img {
      height: 210px;
    }
    &:hover {
      .btn-group {
        display: flex;
      }
    }
  }
  .body {
    margin-top: 10px;
    h6 {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    p {
      margin: auto 0px;
      color: #ffb21e;
      font-size: 14px;
      font-weight: 500;
    }
    img {
      width: 70%;
      margin-bottom: 5px;
    }
  }
  .btn-group {
    position: absolute;
    display: none;
    padding-top: 180px;
    align-items: center;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:hover {
      .btn-reset {
        transform: translateY(-30px);
      }
      .btn-search {
        transform: translateY(-30px);
      }
    }
  }
  .btn-reset {
    background-color: #222222;
    padding: 5px 0;
    border-right: 0.5px solid #efefef;
    color: rgba($color: #fff, $alpha: 0.9);
    height: 40px;
    width: 80%;
    transition: all 0.5s;
    &:hover {
      background-color: var(--color-red);
    }
  }
  .btn-search {
    background-color: #222222;
    padding: 5px 0;
    width: 20%;
    height: 40px;
    color: rgba($color: #fff, $alpha: 0.9);
    transition: all 1.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
    &:hover {
      background-color: var(--color-red);
    }
  }
}
.featured-card {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  margin-right: 15px;
  margin-bottom: 20px;
  .image-container {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    img {
      height: 290px;
    }
    cursor: pointer;
    position: relative;
    &:hover {
      .btn-group {
        display: flex;
      }
    }
  }
  .body {
    margin-top: 10px;
    h6 {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    p {
      margin: auto 0px;
      color: #ffb21e;
      font-size: 17px;
      font-weight: 500;
    }
    img {
      width: 80%;
      margin-bottom: 5px;
    }
  }
  .btn-group {
    position: absolute;
    display: none;
    padding-top: 250px;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:hover {
      .btn-reset {
        transform: translateY(-30px);
      }
      .btn-search {
        transform: translateY(-30px);
      }
    }
  }
  .btn-reset {
    background-color: #222222;
    padding: 5px 0;
    border-right: 0.5px solid #efefef;
    color: rgba($color: #fff, $alpha: 0.9);
    height: 40px;
    width: 80%;
    z-index: 1000;
    transition: all 0.5s;
    &:hover {
      background-color: var(--color-red);
    }
  }
  .btn-search {
    background-color: #222222;
    padding: 5px 0;
    width: 20%;
    height: 40px;
    color: rgba($color: #fff, $alpha: 0.9);
    transition: all 1.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
    &:hover {
      background-color: var(--color-red);
    }
  }
}
.new-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  background-color: #efefef;
  border-right: 1px solid #fff;
  border-bottom: 1px solid var(--color-black);
  .image-container {
    background-color: #efefef;
    cursor: pointer;
    height: 83%;
    position: relative;
    img {
      height: 100%;
    }
    &:hover {
      .btn-group {
        display: flex;
      }
    }
  }
  .body {
    border-top: 1px solid #cccc;
    padding-left: 10px;
    h6 {
      font-size: 90%;
      margin-top: 6px;
      font-weight: 500;
    }
  }
  .price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    p {
      margin: auto 0px;
      color: #ffb21e;
      font-size: 14px;
      font-weight: 500;
    }
    img {
      width: 70%;
      margin-bottom: 5px;
    }
  }
  .btn-group {
    position: absolute;
    display: none;
    padding-top: 250px;
    align-items: center;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:hover {
      .btn-reset {
        transform: translateY(-35px);
      }
      .btn-search {
        transform: translateY(-35px);
      }
    }
  }
  .btn-reset {
    background-color: #222222;
    padding: 5px 0;
    border-right: 0.5px solid #efefef;
    color: rgba($color: #fff, $alpha: 0.9);
    height: 40px;
    width: 80%;
    transition: all 0.5s;
    &:hover {
      background-color: var(--color-red);
    }
  }
  .btn-search {
    background-color: #222222;
    padding: 5px 0;
    width: 20%;
    height: 40px;
    color: rgba($color: #fff, $alpha: 0.9);
    transition: all 1.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
    &:hover {
      background-color: var(--color-red);
    }
  }
}
