<div
  [ngClass]="
    text === 'featured'
      ? 'featured-card'
      : text === 'new'
      ? 'new-card'
      : 'mycard'
  "
  *ngIf="product"
>
  <div routerLink="/shop/{{ product.id }}" class="image-container">
    <img width="100%" src="{{ product.pictureUrl }}" />
    <div class="btn-group">
      <button routerLink="/about" type="button" class="btn-reset">
        ADD TO CART
      </button>
      <button
        type="button"
        routerLink="/shop/{{ product.id }}"
        class="btn-search"
      >
        <img
          routerLink="/shop/{{ product.id }}"
          src="../../../assets/images/view.png"
          alt="image"
        />
      </button>
    </div>
  </div>
  <div class="body">
    <h6>{{ product.name.toUpperCase() }}</h6>
    <div class="price-rating">
      <p>{{ product.price | currency }}</p>
      <div>
        <img
          *ngIf="product.rating"
          src="../../assets/images/ratings.png"
          alt="rating"
        />
      </div>
    </div>
  </div>
</div>
