<div class="shop">
  <div class="row">
    <section class="col-3">
      <div>
        <h5 class="mb-3">Sort</h5>
        <select class="mb-4">
          <option selected>Alphabetical</option>
          <option>Price: Low to high</option>
          <option>Price: High to low</option>
        </select>
      </div>
      <div>
        <h5>Brands</h5>
        <ul class="list-group my-3">
          <li class="list-group-item active">An active item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
      <div>
        <h5>Sizes</h5>
        <ul class="list-group my-3">
          <li class="list-group-item active">An active item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
    </section>
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <header>
          <span
            >Showing <strong>10</strong> of <strong>18</strong> Results</span
          >
        </header>

        <div class="d-flex mt-2">
          <input type="text" placeholder="Search" class="me-2" />
          <button class="btn-search mx-2">Search</button>
          <button class="btn-reset">Reset</button>
        </div>
      </div>
      <div class="row row-cols-3 g-3">
        <div class="card shadow-sm">
          <svg
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
          <div class="card-body">
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn-reset">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
