<div class="shop">
  <div class="row">
    <section class="col-3">
      <div>
        <h5 class="mb-3">Sort</h5>
        <select class="mb-4" (change)="onSortSelected($event)">
          <option *ngFor="let sort of sortOptions" [value]="sort.value">
            {{ sort.name }}
          </option>
        </select>
      </div>
      <div>
        <h5>Brands</h5>
        <ul class="list-group my-3">
          <li
            class="list-group-item"
            [class.active]="brand.id === shopParams.brandId"
            [value]="brand.id"
            (click)="onBrandSelected(brand.id)"
            *ngFor="let brand of brands"
          >
            {{ brand.name }}
          </li>
        </ul>
      </div>
      <div>
        <h5>Color</h5>
        <ul class="list-group my-3">
          <li
            class="list-group-item"
            [class.active]="color.id === shopParams.typeId"
            [value]="color.id"
            (click)="onTypeSelected(color.id)"
            *ngFor="let color of color"
          >
            {{ color.name }}
          </li>
        </ul>
      </div>
    </section>
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [totalCount]="totalCount"
          [pageNumber]="shopParams.pageNumber"
          [pageSize]="shopParams.pageSize"
        ></app-paging-header>
        <div class="d-flex mt-2">
          <input
            (keyup.enter)="onSearch()"
            type="text"
            placeholder="Search"
            class="me-2"
            #search
          />
          <button (click)="onSearch()" class="btn-search mx-2">Search</button>
          <button (click)="onReset()" class="btn-reset">Reset</button>
        </div>
      </div>
      <div class="row row-cols-3">
        <div *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>

      <div
        *ngIf="totalCount > 0"
        class="flex justify-content-center pagination mt-5"
      >
        <app-pager
          [totalCount]="totalCount"
          [pageSize]="shopParams.pageSize"
          (pageChanged)="onPageChanged($event)"
        >
        </app-pager>
      </div>
    </section>
  </div>
</div>
