<div class="about-container">
  <div class="about-content">
    <div *ngFor="let about of abouts" class="about-box">
      <div class="about-img">
        <img src="{{ about.img }}" alt="{{ about.heading }}" />
      </div>
      <div>
        <h2>{{ about.heading.toUpperCase() }}</h2>
        <div class="hr"></div>
        <p>{{ about.about }}</p>
      </div>
    </div>
  </div>
  <div class="about-images">
    <div routerLink="/shop" [queryParams]="{ brand: 1 }" class="nike">
      <img src="../../../assets/images/nike.jpg" alt="nike" />
      <div class="overlay">
        <h2>NIKE</h2>
      </div>
    </div>
    <div routerLink="/shop" [queryParams]="{ brand: 4 }" class="puma">
      <img src="../../../assets/images/puma.jpg" alt="puma" />
      <div class="overlay">
        <h2>PUMA</h2>
      </div>
    </div>
    <div>
      <div routerLink="/shop" [queryParams]="{ brand: 2 }" class="adidas">
        <img src="../../../assets//images/adidas.jpg" alt="adidas" />
        <div class="overlay">
          <h2>ADIDAS</h2>
        </div>
      </div>
      <div routerLink="/shop" [queryParams]="{ brand: 5 }" class="vans">
        <img src="../../../assets//images/vans.jpg" alt="vans" />
        <div class="overlay">
          <h2>VANS</h2>
        </div>
      </div>
    </div>
  </div>
</div>
