.about-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.h-rule_yellow {
  width: 144px;
  height: 6px;
  background-color: var(--color-yellow);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 35px;
}
.about-text_img {
  width: 40%;
}
.about-text_content {
  width: 55%;
}
.about-text_bg {
  background: url(../../../assets/images/brick.png);
  height: 760px;
  background-size: cover;
  background-position: center;
  width: 100%;
  align-items: center;
}
.about-texts {
  align-items: center;
  height: 100%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-black);
  h2 {
    font-size: 33px;
    font-weight: 700;
  }
  p {
    font-size: 19px;
    margin-top: 10px;
  }
}
.about-content {
  display: flex;
  justify-content: space-between;
  width: 82%;
  flex-direction: row;
  margin: 80px auto;
}
.about-box {
  width: 382px;
  height: 272px;
  background-color: var(--color-black);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1005;
  text-align: center;
  h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    width: 90%;
    opacity: 80%;
  }
}
